* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body {
    background: linear-gradient(to right, darkgrey, black, darkred);
}
.logo {
    width: 120px;
    height: 120px;
    padding: 10px;
    margin-top: 10%;
}
header {
     padding: 20px;
}
li {
    list-style: none;
    margin: 0 20px;
    margin-top: 3%;
}
a {
    text-decoration: none;
    color: white;
}
.fotoIndex{
    width: 100%;
    height: auto;
}
.indexTit {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.mensaje1 { 
    font-size: 30px;
    text-align: center;
    margin-bottom: 5%;
    background: linear-gradient(black, rgb(77, 77, 4))
}
    .entrenaC {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 2%;
}
.titCambios {
    color: rgb(199, 212, 14);
    font-size: 25px;
    margin-left: 6%;
    margin-top: 5%;
}

.instagram {
    color: rgba(255, 255, 255, 0.562);
    font-size: 30px;
    background-color:rgb(0, 0, 0);
    position: sticky;
    text-align: center;
    bottom: 0%;
    margin-top: 1%;
   
}
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
header ul {
    font-size: 20px;
}
.mensaje {
    color: black;
}

/* Desde acá, es nosotros.html */
.nosotros {
    width: 100%;
    height: auto;
}
.titNos {
    color: white;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.titStaff {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 30px;
}
.diegoFoto {
    width: 70%;
    height: auto;
    translate: 22%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.santiFoto {
    width: 70%;
    height: auto;
    translate: 22%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.pStaffDiego {
    color: white;
    margin: 5%;
    text-align: center;
    font-size: 20px;
}
.pStaffSanti {
    color: white;
    margin: 5%;
    text-align: center;
    font-size: 20px;
}

/* Desde acá, es opiniones */

.opiniones {
   width: 80%;
   height: auto;
   translate: 5%;
   margin: 5%;
}
.testimonios {
   padding: 10px;
}
.titTestimonios {
    font-size: 40px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
}
.subTestimonios {
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
}
.direccionAtlas {
    font-size: 20px;
    color: white;
    padding: 10px;
    margin-bottom: 0;
    background-color: gray;
  display: inline-block;
  margin: 2%;
}
/* Desde acá, es contacto */
.titContactanos {
    text-align: center;
    color: white;
}
.videoLlamada {
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.formulario {
    display: grid;
    margin-top: 5%;
    width: 80%;
    height: auto;
    text-align: center;
    color: white;
    translate: 12%;
}
.requeridos {
    margin-top: 5%;
}
.formu {
   margin-top: 5%;
}
.enviar {
    margin-top: 5%;
    margin-bottom: 5%;
}
/* Desde acá, es galeria */
.gridContainer {
    display: grid;
}
.galeriaT {
    color: white;
    font-size: 30px;
    text-align: center;
}
.slider {
    width: 100%;
    overflow: hidden;
    margin-top: 5%;
    margin-bottom: 5%;
}
.slider ul {
    display: flex;
    animation: cambio 10s infinite alternate linear;
    width: 300%;
}
.galleryImg {
    width: 100%;
    height: 100%;
    list-style: none;
}  
@keyframes cambio {
    0% {margin-left: 0;}
    
   100%{margin-left: -203%;}
}











